table {
    width: 100%;
  }

  .tituloProduto{
    font-family: Roboto,sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #444;
  }
  .preco{
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    color: #ffaf00;
  }
  .card {
    width: 300px;
    height: 400px;
    background: #f5f5f5;
    margin: 1.5%;
    padding: 0px;
    border-radius: 4px;
    align-self: baseline;
  }
  
  .img{
    width: 145px;
    height: 150px;
    padding-top: 30px;
  }


  .containerCesta{
    display: flex;
    align-items: center;
    justify-content: space-around;    
    margin: 15px 0;
    padding: 15px 0;
  }

  .clienteDados{
      display:flex;
      flex-direction: column;
  }